.search-input{
    
    border: 7px;
    border-radius: 30px;
    background-color: #122155; 
    border: none;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-blo
}
.input{
    border: 7px;
    border-radius: 5px;
    background-color: #2b1055; 
    border: none;
    color: rgb(245, 14, 14);
    padding: 15px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-blo
    
    

}
