.search-input {
    border: 7px;
    border-radius: 30px;
    background-color: #122155;
    border: none;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: rgb(245, 14, 14);
}

.search-input::placeholder {
    color: rgb(245, 14, 14);
}

.input {
    border: 7px;
    border-radius: 5px;
    background-color: #2b1055;
    border: none;
    color: rgb(245, 14, 14);
    padding: 15px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.input:hover,
.input:visited,
.input:checked {
    background-color: #351865;
}
up{
    background-color: rgba(140, 0, 255, 0.205);
    border-radius: 300px;
    display: list-item;
    border: thin;
    background-image: linear-gradient(to right,pink,rgb(140, 0, 255),rgba(255, 255, 0, 0.281),rgb(214, 12, 147),blue,rgb(23, 218, 218),rgb(252, 8, 8))
}
.previsao{
    background-image: radial-gradient(circle, red, yellow, green);
    border-radius: 300px;
    display: list-item;
    border: thin;
}
